{%- assign p = site.data.profile -%}
<div class="contact">
  <div class="contact__col">
    <h3 class="contact__title">Work address</h3>
    <address>
      {%- for line in p.contact.address -%}
      <span>{{ line }}</span>
      {%- endfor -%}
      {%- if p.contact.office %}<span>Office: {{ p.contact.office }}</span>{% endif -%}
    </address>
  </div>
  <div class="contact__col">
    <h3 class="contact__title">Email</h3>
    <ul class="contact__list">
      {%- for e in p.contact.emails -%}
      <li class="contact__list-item">{% include icon.html name="mail" %} {% include email.html email=e %}</li>
      {%- endfor -%}
    </ul>
  </div>
  <div class="contact__col">
    <h3 class="contact__title">Links</h3>
    <ul class="contact__list">
      {%- for l in p.links -%}
      <li><a href="{{ l.url }}" target="_blank" rel="noopener">{% include icon.html name=l.icon %} {{ l.label }}</a></li>
      {%- endfor -%}
      <li><a href="{{ p.cv_pdf | relative_url }}" target="_blank" rel="noopener">{% include icon.html name="file" %} Curriculum vitae (PDF)</a></li>
    </ul>
  </div>
</div>
