<footer class="site-footer">
  <div class="wrap site-footer__inner">
    <div>
      <p class="site-footer__name">{{ site.data.profile.name }}</p>
      <p class="site-footer__meta">{{ site.data.profile.department }}<br>{{ site.data.profile.institution }}, {{ site.data.profile.location }}</p>
    </div>
    <ul class="site-footer__links">
      {%- for l in site.data.profile.links -%}
      <li><a href="{{ l.url }}"{% unless l.icon == "mail" %} target="_blank" rel="noopener"{% endunless %}>{% include icon.html name=l.icon %}<span>{{ l.label }}</span></a></li>
      {%- endfor -%}
      <li><a href="{{ site.data.profile.cv_pdf | relative_url }}" target="_blank" rel="noopener">{% include icon.html name="file" %}<span>CV (PDF)</span></a></li>
    </ul>
    <p class="site-footer__copy">&copy; {{ site.time | date: "%Y" }} {{ site.data.profile.name }}. Last updated {{ site.time | date: "%B %Y" }}.</p>
  </div>
</footer>
